.icon {
	background-color:transparent;
	background-repeat:no-repeat;
	display:inline-block;
	vertical-align:middle;
	// overflow:hidden;
	// text-indent: -3000em;
	background-size:contain;
}

.icon-twitter {
	background-image: url('../svg/twitter.svg');
	width:18px;
	height:18px;
}

.icon-github {
	background-image: url('../svg/github.svg');
	width:18px;
	height:18px;
}

.icon-linkedin {
	background-image: url('../svg/linkedin.svg');
	width:18px;
	height:18px;
}

.icon-mail {
	background-image: url('../svg/mail.svg');
	width:18px;
	height:18px;
}

.icon-download {
	background-image: url('../svg/download.svg');
	width:24px;
	height:24px;
}
